@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<CounterCopy @bind-currentCount="currentCount" incrementAmount="@incrementAmount" @bind-currentCount:event="currentCountChanged"/>

<p role="status">The current parent count is @currentCount</p>

@code {
    int incrementAmount = 10;
    int currentCount = 0;
}
