@page "/"
@using Data.Models.Interfaces
@using Data.Models.Models;
@inject IBlogApi _api

<ul>
	@foreach(var post in posts)
	{
		<li>@post.Title</li>
	}
</ul>

@code {
	protected List<BlogPost> posts = new List<BlogPost>();

	protected override async Task OnInitializedAsync()
	{
		posts = await _api.GetBlogPostsAsync(10, 0);
		await base.OnInitializedAsync();
	}
}